<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		
		<title>php7ready</title>
		<meta name="viewport" content="width=device-width">
		
        <link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div class="wrapper wrapper-header">
			<div class="header" role="banner">
				<h1>php<b>7</b>ready</h1>
			</div>
		</div>
		<div class="wrapper">
			<div class="content">
				<tst:loadSubTpl tplfile="{this}" />
			</div>
		</div>
		<div class="wrapper wrapper-footer">
			<div class="footer clearfix">
				<p class="left">Copyright &copy; 2015 by <a href="http://www.timesplinter.ch">TiMESPLiNTER</a><br><a href="https://github.com/TiMESPLiNTER">GitHub</a> &bull; <a href="https://twitter.com/PascalMySelf">Twitter</a></p>
			</div>
		</div>
	</body>
</html>